body {
  min-width: 1240px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 1024px;
  min-width: 780px;
}







/* STYLE DES NAVS / MENUS */

#Navt_container, #Navl_container {
  background-color: black;
  color: white; 
}
#Navl_container {
  min-width: 1240px;
  width: 100%;
  height: 91px;
}
#Navl_container ul {
  height: 91px;
  padding : 0 26.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
#Navl_container li{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
#Navt_container {
  width: 117px;
  min-height: 960px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#Navt_container div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#navl_container ul, #navt_container ul{
  list-style: none;
}
#navt_container ul {
  width: 64px;
  height: 316px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#navt_container li {
  width: 64px;
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
#navt_container li img {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
#copyright {
  width: 138px;
  height: 24px;
}
#copyright p {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  transform: rotate(270deg);
}




/* STYLE DASHBOARD / CONTENEUR DES GRAPHIQUES */
#Dashboard_container {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 234px;
  margin-right: 117px;
  margin-top: 160px;
  margin-bottom: 91px;
}
#sayHi h1{
  width: 355px;
  height: 24px;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
#sayHi p{
  width: 414px;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
#sayHi span {
  color: red
}



#graphics {
  margin: 80px auto;
  display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}



/* COMPOSANT DAILYACTIVITY */

#DailyActivities {
  width: 835px ;
  height: 320px;
  background-color: #fbfbfb;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#DailyActivities-titles_container, #DailyActivities-title_container, #DailyActivities-index_container {
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
}
#DailyActivities-titles_container {
  width: 80%;
  margin: 0 auto;
}
#DailyActivities-title_container h3{
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 40px auto;
}
#DailyActivities-index_container {
  width: 277px;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;        
}
#DailyActivities-index_container p{
}
#DailyActivities-index_container span{
  font-size: 80px;
}


   
 
      
  
    
  
  
  
.Stats_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 835px;
  height: 263px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.Stats_section {
  width: 258px;
  height: 263px;
  border-radius: 5px;
}


/* COMPOSANT RADAR */
#Radar {
  background-color: #282D30;
  box-shadow: 0px 2px 4px 0px #00000005;
}
      

.Diet_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.Diet_section {
  width: 258px;
  height: 124px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon_container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: aquamarine;
  text-align: center;
}
.icon_container img {
  width: 18.84px;
  height: 18.74px;
}
.infos_container {
  margin: 9px;
}
.infos_container p {
  width: 91px; 
  height: 24px;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0px;
}
.infoQuantity {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.quantityValue {
  font-size: 14px;
  font-weight: 500;    
}



#Calories .icon_container {background-color: #fbeaeb;}
#Proteines .icon_container {background-color: #E9F4FB;}
#Glucides .icon_container {background-color: #FBF6E5;}
#Lipides .icon_container {background-color: #FBEAEF;}









.custom-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap : 16px;
  align-items: center;
  background-color: #E60000;
  color: white;
  padding: 20px 7px;
  width: 39px;
  height: 63px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 7px;
  text-align: center;
}






/* COMPOSANT KPI */
#KPI {
  background-color: #fbfbfb;
}
#KPI .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  position: relative;
}
#KPI .scoreTitle {
  padding-left: 16px;
  grid-row: 1;
  grid-column: 1; 
  font-weight: 500;
  text-align: left;
}
#KPI .scoreValue {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
#KPI .scoreValue span {
  font-weight: 700;
  font-Size: 26px;
  text-align: Center;
}
.RadialBarChartCenter{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 4;
}
#KPI .text-container {
  grid-row: 2; 
  grid-column: 2;
  text-align: center;
}

/* COMPOSANT OBJECTIFS */
#Objectifs {
  background-color: #FF0000;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
#Objectifs h2 {
  padding-left: 24px;;
  width: 147px;
  height: 48px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  opacity: 45%;
}
#Objectifs .custom-tooltip {
  background-color: #FFFFFF;
  color: black;
  width: 39px;
  height: 25px;
  padding: 5px;
  text-align: center; 
  font-size: 8px; 
  font-weight: 500;
  line-height: 24px;
}

.custom-container {
  position: relative;
}

.custom-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* La largeur sera ajustée dynamiquement par le JavaScript */
  height: 100%;
  background-color: black;
  z-index: -1;
}